body {
  background-image: url("Justine1.png");
  }
  .EN{
    color: antiquewhite;
     position: relative;
     align-self: auto;
  }

  

  .E1  {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: antiquewhite;
    position: relative;
    font-size: 150%;
    top: 205px;
    left: 725px;
    width: 500px;
    height: 300px;
  }

  .E2  {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: antiquewhite;
    position: relative;
    font-size: 150%;
    top: 10px;
    left: 725px;
    width: 500px;
    height: 300px;
  }