body {
  background-image: url("BackgroundJ.png");
  }
  .MN{
    color: antiquewhite;
     position: relative;
     align-self: auto;
  }

  img {
    position: relative;
    top: 90px;
    left: 375px;
    width: 500px;
    height: 500px;
    
  }
  .M1  {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: antiquewhite;
    position: relative;
    top: 10px;
    left: 415px;
    width: 500px;
    height: 100px;
  }
  .M2 {
    position: relative;
    top: 10px;
    left: 415px;
    width: 500px;
    height: 100px;
  }