body {
  background-image: url("BackgroundJ.png");
  
  }
  .ONN{
  color: antiquewhite;
   position: relative;
   align-self: auto;

  }
  .ON0{
    color: antiquewhite;
     position: relative;
     align-self: center;
  
    }
  img {
    position: relative;
    top: 120px;
    left: 200px;
    width: 400px;
    height: 400px;
    
  }
.ON1 {
font-family:Georgia, 'Times New Roman', Times, serif ;
  color: antiquewhite;
  position: relative;
  font-size: 150%;
  top: -290px;
  left: 1300px;
  width: 400px;
  height: 50px;
}
.ON2  {
  font-family:Georgia, 'Times New Roman', Times, serif ;
  color: antiquewhite;
  position: relative;
  font-size: 150%;
  top: -290px;
  left: 1300px;
  width: 400px;
  height: 50px;
}
.ON3  {
  font-family:Georgia, 'Times New Roman', Times, serif ;
  color: antiquewhite;
  position: relative;
  font-size: 150%;
    top: -290px;
    left: 1300px;
    width: 400px;
    height: 50px;

}
.ON4 {
  font-family:Georgia, 'Times New Roman', Times, serif ;
  color: antiquewhite;
  float: right;
  position: relative;
  font-size: 150%;
  top: -170px;
  left: -270px;
  width: 200px;
  height: 50px;
}