body {
  background-image: url("BackgroundJ.png");
}
  .TN{
    color: antiquewhite;
     position: relative;
     align-self: center;
  }
  .TD1 {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 150%;
      color: antiquewhite;
      position: relative;
      top: 150px;
      left: 225px;
      width: 300px;
      height: 250px;
    }

 .TD2 {
      font-family:Georgia, 'Times New Roman', Times, serif ;
      font-size: 150%;
        color: antiquewhite;
        position: relative;
        top: 100px;
        left: 225px;
        width: 300px;
        height: 250px;
      }

  .TD3 {
     font-family:Georgia, 'Times New Roman', Times, serif ;
     font-size: 150%;
      color: antiquewhite;
       position: relative;
        top: -365px;
       left: 1400px;
        width: 300px;
        height: 250px;
        }