body {
  background-image: url("BackgroundJ.png");
}
  .TN{
    color: antiquewhite;
     position: relative;
     align-self: center;
  }
  .TourDates {
    font-family:Georgia, 'Times New Roman', Times, serif ;
      color: antiquewhite;
      position: relative;
      top: 50px;
      left: 400px;
      width: 300px;
      height: 250px;
    }